@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-theme-customer: #C5DEDA;
  --color-theme-driver: #C5D4E8;
  --color-theme-orange: #B55C32;
  --color-theme-gray: #8B8B8B;
  --color-theme-light-gray: #e5e7eb;
  --color-theme-second-orange: #E6A88A;
  --color-theme-black: #191919;
}

.leaflet-pane,
.leaflet-map-pane,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-tooltip-pane,
.leaflet-popup-pane {
  z-index: 0 !important;
}

/* globals.css */
.leaflet-control-zoom {
  top: 120 !important;

}

::-webkit-scrollbar {
  display: none;
}

.rdp-caption_label,
.rdp-dropdown {
  font-weight: 300 !important; 
}
.leaflet-control-attribution {
  display: none !important;
}


