@import "tailwindcss";

@theme {
  --color-theme-green: #C5DEDA;
  --color-theme-blue: #C5D4E8;
  --color-theme-orange: #B55C32;
  --color-theme-gray: #8B8B8B;
  --color-theme-second-orange: #E6A88A;
  --color-black: #191919;

}